<p style="color: green"><%= notice %></p>

<%= render @user %>

<p>
    Name: <%= @user.name %>
</p>

<p>
    Email: <%= @user.email %>
</p>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Delete this user", @user, method: :delete %>
</div>
