<%= link_to " < Back to Home Page", root_path %>

<h1>
    Here's your Todo List
</h1>

<p>
    <%= link_to "Add new Todo", new_todo_path %>
</p>

<br>

<ol>
    <% @todos.each do |todo| %>
        
        <hr>

        <li value=<%= todo.id %> >
            ID: <%= todo.id %>
            <br>
            Name: <%= todo.name %>
            <br>
            Description: <%= todo.description %>
            <% if todo.user.present? %>
                <br>
                User: <%= todo.user.name %>
            <% end %>       
            <span class="links">
                <%= link_to ('Delete'), todo_path(todo), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger ml-3" %>
            </span>
            <span class="links">
                <%= link_to "Edit", edit_todo_path(todo) %>
            </span>
            <span class="links">
                <%= link_to "Show", todo_path(todo) %>
            </span>
        </li>
            <%# Created at: <%= todo.created_at %>
            <%# <br> %>
            <%# Updated at: <%= todo.updated_at %>
    <% end %>
</ol>
