<h1>
    Here's your Todo List
</h1>

<p>
    <%= link_to "Wanna add new Todo?", new_todo_path %>
</p>
<br>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>
    <% @todos.each do |todo| %>
        <tr>
            <td>
                <%= todo.name %>
            </td>
            <td>
                <%= todo.description %>
            </td>
            <td>
                <%= link_to "Edit", edit_todo_path(todo) %>
            </td>
            <td>
                <%= link_to "Show", todo_path(todo) %>
            </td>
        </tr>
    <% end %>
</table>


<hr>
<hr>

<ol>
    <% @todos.each do |todo| %>
        <li>
            Name: <%= todo.name %>
            <br>
            Description: <%= todo.description %>
            <%= link_to "Edit", edit_todo_path(todo) %>
            <%= link_to "Show", todo_path(todo) %>
        </li>
        <hr>
    <% end %>
</ol>
